.switch {
  background-color: rgba(150, 150, 150, 0.3);
  border-radius: 50%;
}

.switch-image {
  transition: transform 0.3s ease-in-out;
  width: 60px;
}

#darkModeSwitch:checked + .slider .switch-image {
  transform: rotate(360deg);
}
