@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$Tablet: 880px;
$Lmobile: 475px;

* {
  font-family: "Inter", "sans-serif" !important;
}

body {
  background-image: url("./assets/low-poly-abstract-background.jpg");
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.button {
  border-radius: 8px;
  background: linear-gradient(100deg, #009fff 0%, #ec2f4b 100%);
  color: white;
  border: none;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  &:hover {
    scale: 1.1;
  }
}

Header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(0, 159, 255, 0.8) 0%,
    rgba(236, 47, 75, 0.8) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Header {
  display: flex;
  justify-content: space-between;

  margin: 0;
  height: 80px;
  backdrop-filter: blur(2px);
  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    @media (max-width: $Tablet) {
      display: none;
    }
    &__social {
      height: 50px;
      opacity: 80%;
      &:hover {
        opacity: 100%;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    @media (max-width: $Tablet) {
      width: 100%;
      justify-content: space-between;
    }

    &__nav {
      display: flex;
      font-size: 20px;
      margin-left: 15px;
      gap: 15px;
      text-transform: uppercase;
      font-weight: 600;
    }
    &__logo {
      width: fit-content;
      margin: 0;
      background: linear-gradient(247deg, #009fff 13.86%, #ec2f4b 90.18%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.Hello {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 96px;
  @media (max-width: $Tablet) {
    font-size: 28px;
  }
  &--containertype {
    @media (max-width: $Lmobile) {
      height: 50px;
    }
  }
  &__title {
    margin-top: 100px;
    display: flex;
    margin-bottom: 0;

    &__hand {
      animation: hand 1s ease-in-out infinite;
      transform-origin: bottom;
    }
  }
  &__description {
    &__name {
      background: linear-gradient(
        90deg,
        #ec2f4b 27.79%,
        #009fff 99.79%,
        #00c9ff 99.79%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__typewritter {
    background: linear-gradient(90deg, #009fff 0%, #ec2f4b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.Aboutme {
  background: linear-gradient(
    100deg,
    rgba(0, 159, 255, 1) 3.68%,
    rgba(236, 47, 75, 1) 90.49%
  );
  padding: 31px 0;
  &__int {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 12px;
    color: black;
    &__txtZone {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 300px;
      font-size: 16px;
      font-weight: 400;
      @media (max-width: $Tablet) {
        align-items: center;
        height: auto;
        text-align: center;
      }
      &__title {
        font-size: 32px;
        font-weight: 700;
        margin: 0;
      }
    }
    &__imgZone {
      min-width: 300px;
      min-height: 300px;
      overflow: hidden;
      @media (max-width: $Tablet) {
        display: none;
      }
      &__photo {
        width: 300px;
        height: 300px;
        transition: transform 0.2s ease-in-out;
        overflow: hidden;
        border-radius: 10%;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  &__lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__btn {
    }
    &__title {
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &__list {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      &__elem {
        font-size: 90px;
        opacity: 90%;
        &::before {
          color: black;
        }
        &:hover {
          opacity: 100%;
          &::before {
            color: white;
          }
        }
      }
    }
  }
}

.Projects {
  &__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &--2 {
      @media (max-width: $Tablet) {
        display: none;
      }
    }
    &__title {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 0;
    }
    &__secondaryTitle {
      font-size: 32px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      margin-top: 26px;
    }
    &__elem {
      color: white;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 850px;
      min-height: 300px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
      border-radius: 16px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 16px;
      }
      &:hover::before {
        opacity: 0;
      }
      @media (max-width: $Tablet) {
        width: 90%;
        min-width: 400px;
      }
      @media (max-width: $Lmobile) {
        background-image: none !important;
        box-shadow: none;
        height: auto;
        width: auto;
        min-height: auto;
        min-width: 0;
      }
      &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: rgba(125, 99, 159, 0.6);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(2px);
        padding: 15px 30px;
        width: 300px;
        &:hover {
          background: rgba(125, 99, 159, 1);
        }
        @media (max-width: $Lmobile) {
          background: rgba(125, 99, 159, 1);
          width: 100%;
          height: auto;
          padding: 10px;
          border-radius: 0;
        }
        &__title {
          font-size: 22px;
          font-weight: 700;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        &__desc {
          font-size: 16px;
          font-weight: 400;
          margin: 0 20px;
        }
        &__btn {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          margin-top: 0;
          font-size: 16px;
          font-weight: 800;
          &__git {
            width: 24px;
          }
        }
      }
    }
  }
}

.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  @media (max-width: $Tablet) {
    padding-bottom: 10px;
  }
  &__SVG {
    @media (max-width: $Tablet) {
      display: none;
    }
  }
  &--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    @media (max-width: $Tablet) {
      margin-top: 20px;
    }
    @media (max-width: $Lmobile) {
      width: 100%;
    }
  }
  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
  }
  &__contact {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 26px 80px;
    height: fit-content;
    @media (max-width: $Lmobile) {
      // background: none;
      width: 100%;
      border-radius: 0;
      padding: 10px 0;
    }
    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (max-width: $Lmobile) {
        width: 100%;
        border-radius: 0;
        align-items: center;
      }
      &__error {
        color: red;
        font-size: 16px;
        font-style: italic;
        margin: 0;
        text-align: center;
        animation: errorMsg 0.3s ease-in-out;
      }
      &__input {
        padding: 5px;
        border-radius: 8px;
        border: none;
        font-size: 16px;
        font-weight: 400;
        @media (max-width: $Lmobile) {
          width: 90%;
        }
        &:focus {
          outline: none;
        }
      }
      &__label {
      }
      &__btn {
        border-radius: 8px;
        background: linear-gradient(100deg, #009fff 0%, #ec2f4b 100%);
        color: white;
        border: none;
        padding: 5px;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}

.pageContainer-comp {
  width: auto !important;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.btncontainer {
  display: flex;
  gap: 20px;
}

.ft {
  background: linear-gradient(
    100deg,
    rgba(0, 159, 255, 1) 3.68%,
    rgba(236, 47, 75, 1) 90.49%
  );
  margin-top: 30px;
}

.containerElem {
  @media (min-width: $Tablet) {
    width: 850px;
    height: 300px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 850px;
    min-height: 300px;
    border-radius: 16px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.link {
  cursor: pointer;
}

.link:hover {
  color: #ffffff;
}

.hovered.containerElem {
  @media (min-width: $Tablet) {
    height: 330px;
  }
}

.hovered .Projects__div__elem {
  @media (min-width: $Tablet) {
    animation: elem 300ms ease-in-out forwards;
  }
}

.hovered .Projects__div__elem .Projects__div__elem__card {
  @media (min-width: $Tablet) {
    animation: card 300ms ease-in-out forwards;
  }
}

.darkMode {
  display: flex;
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@keyframes hand {
  0%,
  100% {
    transform: rotate(0deg) scaleX(-1);
  }
  50% {
    transform: rotate(15deg) scaleX(-1);
  }
}

@keyframes elem {
  0% {
    position: absolute;
    width: 850px;
    transform: translateX(0);
  }
  100% {
    position: absolute;
    transform: translateX(-150px);
    width: 550px;
  }
}

@keyframes errorMsg {
  0% {
    opacity: 0;
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes card {
  0% {
    transform: translateX(0);
    height: auto;
    background: rgba(125, 99, 159, 0.6);
    border-radius: 8px 8px 8px 8px;
  }
  100% {
    transform: translateX(400px);
    background: rgba(125, 99, 159, 1);
    height: 300px;
    border-radius: 0px 16px 16px 0px;
  }
}

// Dark mode
.dark {
  color: white;
  h2 {
    color: white;
  }
  p {
    color: white;
  }
  a {
    color: white !important;
    cursor: pointer;
    &:hover {
      color: #ec2f4b !important;
    }
  }
  .Aboutme__lang__list__elem {
    &::before {
      color: white;
    }
    &:hover {
      &::before {
        color: black;
      }
    }
  }
}
